<!-- Header Area-->
<header id="header-wrap">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
                        aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="icon-menu"></span>
                    <span class="icon-menu"></span>
                    <span class="icon-menu"></span>
                </button>
                <a href="/" class="navbar-brand"><img src="/img/onload.png" alt="OnLoad Logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="navbar-nav mr-auto w-100 justify-content-left clearfix">
                    {{#each links}}
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="{{link}}">
                                {{title}}
                            </a>
                        </li>
                    {{/each}}
                </ul>
                <div class="btn-sing float-right">
                    <a class="btn btn-border" href="#faqs">FAQs</a>
                </div>
            </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="mobile-menu navbar-nav">
            {{#each links}}
                <li>
                    <a class="page-scroll" href="{{link}}">
                        {{title}}
                    </a>
                </li>
            {{/each}}
            <li>
                <a class="page-scroll" href="#faqs">
                    FAQs
                </a>
            </li>
        </ul>
        <!-- Mobile Menu End -->
    </nav>
    <!-- Navbar End -->

    <!--Start -->
    <div id="home" class="hero-area-bg">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="contents text-center">
                        <h2 class="head-title wow fadeInUp">A 30hrs intense, fun-filled, rewarding convergence of
                            programmers, designers and developers to build something amazing. </h2>
                        <div class="header-button wow fadeInUp" data-wow-delay="0.3s">
                            <button id="devfolio-apply-now"
                                    onclick="ga('send', 'event', 'Button', 'Apply', 'Applications', 1);"></button>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 text-center">
                    <h4 id="location"><a href="https://goo.gl/maps/M2och8ac3qT2" rel="noopener" target="_blank"
                                         title="See on Map"><i
                            class="fas fa-map-marker"></i> VVCE, Mysuru</a></h4>
                </div>
                <div class="col-md-6 col-sm-12 text-center">
                    <h4 id="date"><i class="fas fa-calendar-day"></i> 23rd-24th March</h4>
                </div>
            </div>
            <br/><br/><br/><br/>
        </div>
    </div>
    <!--End -->
</header>
<!-- Header Area End -->

<!-- Services Section Start -->
<section id="about" class="section-padding">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.1s">Why should I attend??</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="about-item wow fadeInRight" data-wow-delay="0.1s">
                    <div class="icon">
                        <i class="fas fa-handshake"></i>
                    </div>
                    <div class="about-content">
                        <h3 class="about-title">To make new Friends</h3>
                        <p>Hackathons provide an excellent opportunity for you to build professional contacts and make
                            new friends. With over 100 developers and designers gathering from all over the country,
                            grab your chance of connecting with people to discuss ideas and opportunities.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="about-item wow fadeInRight" data-wow-delay="0.1s">
                    <div class="icon">
                        <i class="fas fa-graduation-cap"></i>
                    </div>
                    <div class="about-content">
                        <h3 class="about-title">To Learn</h3>
                        <p>Hackathons help you learn new skills. If you’re newer to programming, you’ll learn how to
                            create a project from scratch, buff out the problems, and present to a panel of judges. Even
                            if you’re already a coding pro, you have an opportunity to enhance your team collaboration
                            and presentation skills.</p>
                    </div>
                </div>
            </div>
            <!-- about item -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="about-item wow fadeInRight" data-wow-delay="0.2s">
                    <div class="icon">
                        <i class="fas fa-laptop-code"></i>
                    </div>
                    <div class="about-content">
                        <h3 class="about-title">To Build</h3>
                        <p>How often did you start a small project and never finished it? You will need to cut the
                            scope, take some shortcuts. And you will still be amazed to see what you can finish in such
                            a short period of time. When receiving your award, you feel exhausted but truly satisfied.
                            Like a true marathon winner.</p>
                    </div>
                </div>
            </div>
            <!-- about item -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="about-item wow fadeInRight" data-wow-delay="0.2s">
                    <div class="icon">
                        <i class="far fa-grin-beam-sweat"></i>
                    </div>
                    <div class="about-content">
                        <h3 class="about-title">The Thrill</h3>
                        <p>If you haven’t hacked a Hackathon you can’t know the feeling you have. The agitation before.
                            Will you be able to finish something? And the excitement afterward, when you are finished
                            and you have created something. A Hackathon is a challenge that comes with a lot of work,
                            but also a lot of fun and it can be an experience of a lifetime.</p>
                    </div>
                </div>
            </div>
            <!-- about item -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="about-item wow fadeInRight" data-wow-delay="0.2s">
                    <div class="icon">
                        <i class="fas fa-globe-asia"></i>
                    </div>
                    <div class="about-content">
                        <h3 class="about-title">To Flaunt Your Skills</h3>
                        <p>Participating in hackathons will help you stand out from the competition and, show that you
                            truly are passionate about coding. Hackathon projects can also be great additions to your
                            portfolio. They can lead to great product creations, which make them a unique opportunity to
                            get in front of industry leaders to showcase your technical skills.</p>
                    </div>
                </div>
            </div>
            <!-- about item -->
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="about-item wow fadeInRight" data-wow-delay="0.2s">
                    <div class="icon">
                        <i class="fas fa-award"></i>
                    </div>
                    <div class="about-content">
                        <h3 class="about-title">To win Prizes and cool Schwag</h3>
                        <p>Not only will you have the chance to win some cool stuff, but you will also get a cool goodie
                            bag and loads of schwags. And food and drinks will also be for free. Overall it is an event
                            full of rewards. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about Section End -->


<!-- Schedule Section Start -->
<div id="schedule" class="section-padding">
    <h2 class="section-title">Schedule</h2>
    <div class="container text-center">
        <div class="row">
            {{#each schedule.days}}
                <div class="col-md-6 col-sm-12 day">
                    <h3>{{date}}</h3>
                    <div class="events">
                        {{#each events}}
                            <p><span class="time">{{time}}</span> &nbsp; <span class="event">{{event}}</span></p>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- Schedule Section End -->

<!--FAQ Section Start-->
<div id="faqs" class="section-padding">
    <div class="container">
        <h2 class="section-title">FAQs</h2>
        <div class="row accordion" id="accordionFaq">
            {{#each faqs}}
                <div class="col-md-6 col-sm-12 card" style="padding: 0">
                    <div class="card-header" id="{{id}}">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#{{collapse}}"
                                    aria-expanded="true" aria-controls="{{collapse}}">
                                <i class="fas fa-plus-circle plus-minus"></i> {{question}}
                            </button>
                        </h5>
                    </div>
                    <div id="{{collapse}}" class="collapse" aria-labelledby="{{id}}" data-parent="#accordionFaq">
                        <div class="card-body">
                            {{answer}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <br/><br/>
    <div class="row">
        <div class="col-sm-12 text-center">
            <h4>Have any more Questions?</h4>
            <h5>
                <i class="fas fa-envelope"></i> <a href="mailto:contact@hackonload.com">contact@hackonload.com</a>
                <br/>OR<br/>
                <a href="https://twitter.com/hackOnLoad"><i class="fab fa-twitter"></i></a> us your question
            </h5>
        </div>
        <br/><br/><br/><br/>
        <div class="col-sm-12 text-center">
            <h6>Make sure you follow us on our social handles for announcements and news.</h6>
        </div>
    </div>
</div>
<!--FAQ Section End-->

<!-- Sponsors Section Start -->
<div id="sponsors" class="section-padding">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Sponsors</h2>
        </div>
        <div class="row text-center">
            <div class="col-sm-12">
                <h4>Interested in becoming a sponsor? </h4>
                <p>Email us at <a href="mailto:sponsor@hackonload.com">sponsor@hackonload.com</a></p>
            </div>
        </div>
        <br/><br/>
        <div class="row text-align-">
            {{#each sponsors}}
                <div class="col-lg-4 col-md-4 col-xs-12 wow fadeInUp" data-wow-delay="0.1s">
                    {{#if diamond}}
                        <div class="sponsors-item-wrapper top-tier">
                            <a href="{{link}}" title="{{name}}">
                                <img class="img-fluid" src="{{logo}}" alt="{{name}}"/>
                            </a>
                        </div>
                    {{else}}
                        <div class="sponsors-item-wrapper default-tier">
                            <a href="{{link}}" title="{{name}}">
                                <img class="img-fluid" src="{{logo}}" alt="{{name}}"/>
                            </a>
                        </div>
                    {{/if}}
                </div>
            {{/each}}
        </div>

    </div>
</div>
<!-- Sponsors Section End -->